In [ ]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.
import os
import shutil
import kagglehub
organizations_bigquery_bitcoin_blockchain_path = kagglehub.dataset_download('organizations/bigquery/bitcoin-blockchain')

print('Data source import complete.')

In [ ]:
from google.cloud import bigquery
from bq_helper import BigQueryHelper

In [ ]:
bq_assistant = BigQueryHelper("bigquery-public-data", "bitcoin_blockchain")

Using Kaggle's public dataset BigQuery integration.

# Queries

In [ ]:
q1 = '''
    SELECT AVG(size) AS Average_Size, AVG(stripped_size) AS Average_stripped_Size, AVG(weight) AS Average_weight FROM `bigquery-public-data.crypto_bitcoin.blocks`
    '''
client = bigquery.Client()
query_job = client.query(q1)
q1 = query_job.to_dataframe()
q1

Using Kaggle's public dataset BigQuery integration.

    Average_Size  Average_stripped_Size  Average_weight
0  702616.365243          485246.410972    2.158356e+06

In [ ]:
q2 = '''
    SELECT type, COUNT(type) AS Frequency FROM `bigquery-public-data.crypto_bitcoin.outputs`GROUP BY type ORDER BY COUNT(type) DESC
    '''
query_job = client.query(q2)
q2 = query_job.to_dataframe()
q2

                    type   Frequency
0             pubkeyhash  1361687863
1             scripthash   737410503
2     witness_v0_keyhash   573891896
3     witness_v1_taproot   218569467
4            nonstandard   124956391
5  witness_v0_scripthash    39893739
6                 pubkey     2997650
7               multisig      677099
8        witness_unknown         125

In [ ]:
trans_day = '''
            SELECT
              DATE(block_timestamp) AS date,
              COUNT(*) AS no_transactions
              FROM `bigquery-public-data.crypto_bitcoin.transactions`
              WHERE DATE(block_timestamp) <= DATE_SUB(CURRENT_DATE(), INTERVAL 1 DAY) AND is_coinbase IS FALSE
              GROUP BY date
              ORDER BY date
            '''
query_job = client.query(trans_day)
trans_day = query_job.to_dataframe()
trans_day

            date  no_transactions
0     2009-01-12                7
1     2009-01-14                1
2     2009-01-15                8
3     2009-01-16                2
4     2009-01-18                1
...          ...              ...
5501  2024-10-12           736178
5502  2024-10-13           648601
5503  2024-10-14           611544
5504  2024-10-15           646735
5505  2024-10-16           708201

[5506 rows x 2 columns]

In [ ]:
q3 = """ WITH time AS
            (
                SELECT TIMESTAMP_MILLIS(timestamp) AS trans_time,
                    transaction_id
                FROM `bigquery-public-data.bitcoin_blockchain.transactions`
            )
            SELECT COUNT(transaction_id) AS transactions,
                EXTRACT(MONTH FROM trans_time) AS month,
                EXTRACT(YEAR FROM trans_time) AS year
            FROM time
            GROUP BY year, month
            ORDER BY year, month
        """
query_job = client.query(q3)
q3 = query_job.to_dataframe()
q3

     transactions  month  year
0            2575      1  2009
1            3417      2  2009
2            3487      3  2009
3            3459      4  2009
4            3401      5  2009
..            ...    ...   ...
112       6138957      5  2018
113       5752514      6  2018
114       6393536      7  2018
115       6417764      8  2018
116       2087279      9  2018

[117 rows x 3 columns]

In [ ]:
q4='''
    SELECT
        DATE(block_timestamp) AS date,
        AVG(input_count) AS avg_input,
        AVG(output_count) AS avg_output,
        MAX(input_count) AS max_input,
        MAX(output_count) AS max_output,
        SAFE_DIVIDE(SUM(output_count), SUM(input_count)) AS ratio
FROM `bigquery-public-data.crypto_bitcoin.transactions`
WHERE input_count != 0  AND input_value != 0 AND output_value != 0
GROUP BY date
ORDER BY date
    '''
query_job = client.query(q4)
q4 = query_job.to_dataframe()
q4

            date  avg_input  avg_output  max_input  max_output     ratio
0     2009-01-12   1.000000    1.714286          1           2  1.714286
1     2009-01-14   3.000000    1.000000          3           1  0.333333
2     2009-01-15   1.875000    1.750000          5           2  0.933333
3     2009-01-16   2.000000    1.000000          2           1  0.500000
4     2009-01-18   3.000000    1.000000          3           1  0.333333
...          ...        ...         ...        ...         ...       ...
5502  2024-10-13   1.656824    2.462086       1375        2009  1.486028
5503  2024-10-14   1.816195    2.470300       1469        1995  1.360151
5504  2024-10-15   1.925067    2.461392       1441        1978  1.278601
5505  2024-10-16   1.533396    2.435772       1197        2021  1.588482
5506  2024-10-17   1.348536    2.489278        735         588  1.845911

[5507 rows x 6 columns]

In [ ]:
q5 = '''
    SELECT
    DATE(block_timestamp) as transaction_date,
    SUM(output.value) as total_bitcoins_sent
FROM
    `bigquery-public-data.crypto_bitcoin.transactions`
JOIN
    UNNEST(outputs) AS output
GROUP BY
    transaction_date
ORDER BY
    transaction_date DESC
LIMIT
    30;
    '''
query_job = client.query(q5)
q5 = query_job.to_dataframe()
q5

   transaction_date        total_bitcoins_sent
0        2024-10-17    9788085682679.000000000
1        2024-10-16   70187496734992.000000000
2        2024-10-15   83634190135389.000000000
3        2024-10-14   60596304137674.000000000
4        2024-10-13   36231035458436.000000000
5        2024-10-12   38699374413750.000000000
6        2024-10-11   63970605370957.000000000
7        2024-10-10   64215151962659.000000000
8        2024-10-09   81227019035577.000000000
9        2024-10-08  106866800704866.000000000
10       2024-10-07   99922125145478.000000000
11       2024-10-06   56292732642550.000000000
12       2024-10-05   42154666184826.000000000
13       2024-10-04   80308110719504.000000000
14       2024-10-03   88592416928226.000000000
15       2024-10-02   79375909777036.000000000
16       2024-10-01   90143908714051.000000000
17       2024-09-30   98621896240798.000000000
18       2024-09-29   48929563321562.000000000
19       2024-09-28   46244736368104.000000000
20       2024-09-27   80762905278754.000000000
21       2024-09-26   84150490197448.000000000
22       2024-09-25   81686425049273.000000000
23       2024-09-24   83593422508771.000000000
24       2024-09-23   75221435097616.000000000
25       2024-09-22   40955678358140.000000000
26       2024-09-21   41589639732938.000000000
27       2024-09-20   98001047985418.000000000
28       2024-09-19   87861791817664.000000000
29       2024-09-18   82406047729407.000000000